<div>
  <h2 id="page-heading" data-cy="WarehouseItemHeading">
    <span appTranslate="dataRunClientApp.warehouseItem.home.title">Warehouse Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="dataRunClientApp.warehouseItem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-warehouse-item"
        [routerLink]="['/warehouse-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="dataRunClientApp.warehouseItem.home.createLabel">Create a new Warehouse Item</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  @if (warehouseItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="dataRunClientApp.warehouseItem.home.notFound">No Warehouse Items found</span>
    </div>
  }

  @if (warehouseItems && warehouseItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="uid">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.uid">Uid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="code">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="name">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="description">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="createdBy">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="createdDate">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="lastModifiedBy">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="lastModifiedDate">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.warehouseItem.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (warehouseItem of warehouseItems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/warehouse-item', warehouseItem.id, 'view']">{{ warehouseItem.id }}</a>
              </td>
              <td>{{ warehouseItem.uid }}</td>
              <td>{{ warehouseItem.code }}</td>
              <td>{{ warehouseItem.name }}</td>
              <td>{{ warehouseItem.description }}</td>
              <td>{{ warehouseItem.createdBy }}</td>
              <td>{{ warehouseItem.createdDate | formatMediumDatetime }}</td>
              <td>{{ warehouseItem.lastModifiedBy }}</td>
              <td>{{ warehouseItem.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/warehouse-item', warehouseItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/warehouse-item', warehouseItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(warehouseItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
