<div>
  <h2 id="page-heading" data-cy="CampaignHeading">
    <span appTranslate="dataRunClientApp.campaign.home.title">Campaigns</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="dataRunClientApp.campaign.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-campaign"
        [routerLink]="['/campaign/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="dataRunClientApp.campaign.home.createLabel">Create a new Campaign</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  @if (campaigns?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="dataRunClientApp.campaign.home.notFound">No Campaigns found</span>
    </div>
  }

  @if (campaigns && campaigns.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="campaignCode">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.campaignCode">Campaign Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="campaignStartedDate">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.campaignStartedDate">Campaign Started Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="campaignDays">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.campaignDays">Campaign Days</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="campaignYear">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.campaignYear">Campaign Year</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="campaignNote">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.campaignNote">Campaign Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="enabled">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.enabled">Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="campaignType.campaignType">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.campaign.campaignType">Campaign Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (campaign of campaigns; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/campaign', campaign.id, 'view']">{{ campaign.id }}</a>
              </td>
              <td>{{ campaign.campaignCode }}</td>
              <td>{{ campaign.campaignStartedDate | formatMediumDatetime }}</td>
              <td>{{ campaign.campaignDays }}</td>
              <td>{{ campaign.campaignYear }}</td>
              <td>{{ campaign.campaignNote }}</td>
              <td>{{ campaign.enabled }}</td>
              <td>
                @if (campaign.campaignType) {
                  <div>
                    <a [routerLink]="['/campaign-type', campaign.campaignType.id, 'view']">{{ campaign.campaignType.campaignType }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/campaign', campaign.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/campaign', campaign.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(campaign)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
