<div>
  <h2 id="page-heading" data-cy="TeamHeading">
    <span appTranslate="dataRunClientApp.team.home.title">Teams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="dataRunClientApp.team.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team"
        [routerLink]="['/team/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="dataRunClientApp.team.home.createLabel">Create a new Team</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  @if (teams?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span appTranslate="dataRunClientApp.team.home.notFound">No Teams found</span>
    </div>
  }

  @if (teams && teams.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr appSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" appSortBy="id">
              <div class="d-flex">
                <span appTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="uid">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.uid">Uid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="code">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="name">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="description">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="mobile">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.mobile">Mobile</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="workers">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.workers">Workers</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="mobility">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.mobility">Mobility</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="createdBy">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="createdDate">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="lastModifiedBy">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="lastModifiedDate">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="activity.code">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.activity">Activity</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="operationRoom.name">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.operationRoom">Operation Room</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="warehouse.name">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.warehouse">Warehouse</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" appSortBy="userInfo.login">
              <div class="d-flex">
                <span appTranslate="dataRunClientApp.team.userInfo">User Info</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (team of teams; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a>
              </td>
              <td>{{ team.uid }}</td>
              <td>{{ team.code }}</td>
              <td>{{ team.name }}</td>
              <td>{{ team.description }}</td>
              <td>{{ team.mobile }}</td>
              <td>{{ team.workers }}</td>
              <td>{{ team.mobility }}</td>
              <td>{{ team.createdBy }}</td>
              <td>{{ team.createdDate | formatMediumDatetime }}</td>
              <td>{{ team.lastModifiedBy }}</td>
              <td>{{ team.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (team.activity) {
                  <div>
                    <a [routerLink]="['/activity', team.activity.id, 'view']">{{ team.activity.code }}</a>
                  </div>
                }
              </td>
              <td>
                @if (team.operationRoom) {
                  <div>
                    <a [routerLink]="['/review-team', team.operationRoom.id, 'view']">{{ team.operationRoom.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (team.warehouse) {
                  <div>
                    <a [routerLink]="['/warehouse', team.warehouse.id, 'view']">{{ team.warehouse.name }}</a>
                  </div>
                }
              </td>
              <td>
                {{ team.userInfo?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/team', team.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(team)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (teams && teams.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
